
header{
  background-color: #262626;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-menu1{
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 900px){

  nav{
    position: fixed;
    width: 100%;
  }
  .tekster{
    margin-top: 50px;
  }


  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu1{
    display: flex;
    position: fixed;
    top: 60px;
    left: -110%;
    gap: 0;
    flex-direction: column;
    background-color: #1f2022;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu{
    position: fixed;
    top: 70px;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
  .nav-menu1.active{
    left: 0%;
  }
}





