
body {
    nav{
        margin-bottom: 3vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
        }
        .tomrom{
            margin-right: 3vh;
        }
    }
    div{
        .temp{
            display: flex;
            justify-content: baseline;
            align-items: center;
            margin-left: 3vh;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    #projectLinks{
        display: flex;
        justify-content: space-between;
        margin-right: 3vh;
    }
    .loadedAmount{
        margin-left: 3vh;
        margin-right: 3vh;
    }
}

.knp {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height:5vh; 
    width: 15vh;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 20;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
    margin-left: 3vh; 
    a {
        color: #fff;
        text-decoration: none;
        transition: ease-in-out .5s;
        margin: 2rem;
        padding-top:    3%;
        padding-bottom: 3%;
        padding-left:   27%;
        padding-right:  27%;
    }
    &:hover{
        box-shadow: 0 0 20px #fff;
        background-color: #fff;
        inset: 200px 0 #fff;
        a {
            color: var(--c);
        }
    }
}

.knpAuto {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height:5vh; 
    width: auto;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 20;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
    margin-left: 3vh; 
    a {
        color: #fff;
        text-decoration: none;
        transition: ease-in-out .5s;
        margin: 2rem;
        padding-top:    3%;
        padding-bottom: 3%;
        padding-left:   27%;
        padding-right:  27%;
    }
    &:hover{
        box-shadow: 0 0 20px #fff;
        background-color: #fff;
        inset: 200px 0 #fff;
        a {
            color: var(--c);
        }
    }
}



