/*some colors */

:root{
    --a: #1f2022;
    --b: #343541;
    --c: #444653;
    --d: #40414e;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--a);
    margin-top: 0;
    padding-top: 0.1rem;
    box-shadow: 0px 0.3rem 0.6rem var(--a);
}

.tittel {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--c);
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.links {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    margin-left:  7%;
    margin-right: 7%;
}

@media screen and (max-width: 600px) {
    .links {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .links div {
        margin-bottom: 10%;
    }

    .knapp {
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .tekster{
        margin-top: 6%;
    }

}


/* container */
.links div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem; /* remove*/
    width: 100%;
}

.knapp {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
    width: 69%;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 20;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
}

.knapp a {
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .5s;
    margin: 2rem;
    padding-top:    3%;
    padding-bottom: 3%;
    padding-left:   27%;
    padding-right:  27%;
}

.links .git{
    padding-top:    7%;
    padding-bottom: 7%;
    padding-left:   37%;
    padding-right:  37%;
}

.links .linkedin{
    padding-top:    7%;
    padding-bottom: 7%;
    padding-left:   33%;
    padding-right:  33%;
}


.knapp:hover{
    box-shadow: 0 0 20px #fff;
    background-color: #fff;
    inset: 200px 0 #fff;
}

.knapp:hover a {
    color: var(--c);
}
    

.tekster {
    margin-left: 2rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}



.mainTXT{
    font-weight: 100;
    font-size: 1.1rem;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1%;
}

.introTXT {
    margin-top: 2%;
    text-align: center;
}
