:root{
    --a: #1f2022;
    --b: #343541;
    --c: #444653;
    --d: #40414e;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--a);
    margin-top: 0;
    padding-top: 0.1rem;
    box-shadow: 0px 0.3rem 0.6rem var(--a);
}

.tittel {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--c);
    margin: 0;
    padding: 0;
    margin-top: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1500px) {
    main{
        width: 100%;
    }
    .shadow{
        max-width: 110vh;
    }
}

@media screen and (max-width: 600px) {
    main{
        width: 100%;
    }
}

.links {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    margin-left:  7%;
    margin-right: 7%;
    margin-bottom: 1vh;
}

@media screen and (max-width: 600px) {
    .links {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .links div {
        margin-bottom: 10%;
    }

    .knapp {
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .tekster{
        margin-top: 6%;
    }

}


/* container */
.links div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem; /* remove*/
    width: 100%;
    padding-bottom: 4vh;
}

.knapp {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
    width: 69%;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 20;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
}

.mellomrom{
    margin-top: 5vh;
    display: flex;
}

#backbtn{
    height: 5vh;
    width: 15vh;
}

.knapp a {
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .5s;
    margin: 2rem;
    padding-top:    3%;
    padding-bottom: 3%;
    padding-left:   27%;
    padding-right:  27%;
}

.links .git{
    padding-top:    7%;
    padding-bottom: 7%;
    padding-left:   37%;
    padding-right:  37%;
}

.links .linkedin{
    padding-top:    7%;
    padding-bottom: 7%;
    padding-left:   33%;
    padding-right:  33%;
}


.knapp:hover{
    box-shadow: 0 0 20px #fff;
    background-color: #fff;
    inset: 200px 0 #fff;
}

.knapp:hover a {
    color: var(--c);
}
    

.tekster {
    margin-bottom: 9vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.mainTXT{
    font-weight: 100;
    font-size: 2.5vh;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 2rem;
    margin-bottom: 1%;
    letter-spacing: 0.25vh;
}

@media screen and (max-width: 600px) {
    .mainTXT{
        font-size: 1.8vh;
    }
}

.introTXT {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    text-align: center;
    height: 7vh;
    margin-top: 5vh;
}

.shadow {
    margin: 0 auto;
    margin-top: 7vh;
    height: auto;
    width: 90%;
    padding-bottom: 10vh;
    border-radius: 38px;
    background: #343541;
    box-shadow: inset 50px 50px 69px #2f303b,
                inset -50px -50px 69px #393a47;
}

.shadowtittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 14vh;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    row-gap: 5vh;
    column-gap: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}


@media screen and (max-width: 900px) {
    .shadowtittle h1{
        font-size: 3.5vh;
        max-width: 65vh;
    }
}

@media screen and (max-width: 650px) {
    .shadowtittle h1{
        font-size: 2.9vh;
        max-width: 50vh;
    }
}
@media screen and (max-width: 500px) {

    .logos{
        margin-top: 0vh;
        column-gap: 1vh;
        padding-left:   1vh;
        padding-right:  1vh;
    }
    .shadow{
        padding-bottom: 3vh;
    }
    .shadowtittle h1{
        font-size: 2.5vh;
        max-width: 36vh;
    }
}

.mellomrom {
    height: 20vh;
}

.htmlLogo{
    max-height: 15vh;
    z-index: 1;
    transition: ease-in .1s;
}
.htmlLogo:hover{
    max-height: 25vh;
    z-index: 1;
}

.cssLogo{
    max-height: 16vh;
    z-index: 1;
    transition: ease-in .1s;
}
.cssLogo:hover{
    max-height: 25vh;
    z-index: 1;
}

.kotlin {
    max-height: 14vh;
    z-index: 1;
    transition: ease-in .1s;
}
.kotlin:hover{
    max-height: 19vh;
    z-index: 1;
}

.javaLogo {
    max-height: 17vh;
    z-index: 1;
    transition: ease-in .1s;
}
.javaLogo:hover {
    max-height: 26vh;
    z-index: 1;
}

.pyLogo {
    max-height: 14vh;
    z-index: 1;
    transition: ease-in .1s;
}
.pyLogo:hover {
    max-height: 19vh;
    z-index: 1;
    -webkit-animation: rotBGimg 5s linear infinite;
    animation: rotBGimg 5s linear infinite;
}

.JSlogo{
    z-index: 1;
    max-height: 21vh;
    transition: ease-in .1s;
}
.JSlogo:hover{
    z-index: 1;
    max-height: 50vh;
}

.gitLogo{
    z-index: 1;
    max-height: 13vh;
    transition: ease-in .1s;
}
.gitLogo:hover{
    z-index: 1;
    max-height: 20vh;
}

.npmLogo{
    z-index: 1;
    max-height: 6vh;
    transition: ease-in .1s;
}
.npmLogo:hover{
    z-index: 1;
    max-height: 8vh;
}

.reactlogo{
    z-index: 1;
    max-height: 10vh;
    transition: ease-in .1s;
}
.reactlogo:hover{
    z-index: 1;
    max-height: 18vh;
    -webkit-animation: rotBGimg 5s linear infinite;
    animation: rotBGimg 5s linear infinite;
}

.card {
    /*
    width: 190px;
    height: 254px;
    */
    width: 23vh;
    height: 30vh;
    background: var(--a);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    }

.card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--b)), to(var(--c)));
    background-image: linear-gradient(180deg, var(--b), var(--c));
    height: 130%;
    -webkit-animation: rotBGimg 10s linear infinite;
            animation: rotBGimg 10s linear infinite;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
@-webkit-keyframes rotBGimg {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
    @keyframes rotBGimg {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    }
    
    .card::after {
    content: '';
    position: absolute;
    background: var(--d);
    ;
    inset: 5px;
    border-radius: 15px;
    }  
    .card:hover:before {
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(197, 197, 197));
    animation: rotBGimg 10s linear infinite;
    }
