/*some colors */

:root{
    --a: #1f2022;
    --b: #343541;
    --c: #444653;
    --d: #40414e;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--a);
    margin-top: 0;
    padding-top: 0.1rem;
    box-shadow: 0px 0.3rem 0.6rem var(--a);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittel {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}


body {
    background-color: var(--c);
    margin: 0;
    padding: 0;
    margin-top: 0;
}


@media screen and (min-width: 800px) {
    .links {
        display: block;
    }
    }

.links {
    display: flex;
    justify-content:space-evenly;
    margin-left:  8rem;
    margin-right: 8rem;
}

/* container */
.links div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c);
    height: 3rem; /* remove*/
    width: 100%;
}

.knapp {
    background: transparent;
    height: 4rem;
    width: 20rem;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 20;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
}

.knapp a {
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .5s;
}

.knapp:hover{
    box-shadow: 0 0 20px #fff;
    background-color: #fff;
    inset: 200px 0 #fff;
}

.knapp:hover a {
    color: var(--c);
}


.tekster {
    margin-left: 2rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.mainTXT{
    font-weight: 100;
    font-size: 1.1rem;
    margin-left: 7rem;
    margin-right: 8rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.introTXT {
    margin-top: 4rem;
    margin-left: 3rem;
    text-align: center;
}
